@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300&family=Open+Sans:wght@300&display=swap");
body {
  margin: 0;
  background-color: #2E2E2E;
  color: white;
  font-family: "Fredoka", "Open Sans", sans-serif;
}

.barra {
  background-color: #3F3F3F;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: large;
  font-weight: 800;
}

.barraroja {
  background-color: #860000;
  position: absolute;
  display: flex;
  z-index: -1;
  height: 2.5rem;
  width: 65vw;
  transform: translate(-0.2%, -66%);
}

.fondo {
  background-color: #2E2E2E;
}

h2 {
  font-size: large;
  font-weight: 800;
}

h1 {
  font-size: x-large;
  font-weight: 800;
}

.separador {
  background-color: #860000;
  height: 5px;
  border-radius: 10px;
  width: 13vw;
  margin: 8px 0px;
}

/*the container must be positioned relative:*/
.custom-select {
  font-family: "Fredoka";
  border-radius: 10px;
  color: white;
  background-color: #3F3F3F;
  border: 1px solid white;
  height: 40px;
}

select > option {
  background-color: #3F3F3F;
  color: white;
}

.buscador {
  background-color: #1D1D1D;
  color: white;
  border: 1px solid white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  z-index: 0;
  cursor: pointer;
}

#nav {
  position: fixed;
  display: flex;
  flex-direction: column;
  padding: 16px;
  padding-left: 12px;
  background-color: #1D1D1D;
  width: 15vw;
  height: 100vh;
  left: 0;
  z-index: 1;
  transition: 1s;
}

#nav.is-active {
  /*posiciona el menu navegacion*/
  transform: translateX(-20vw);
}

#main {
  margin-left: 15vw;
  transition: 1s;
}

#main.is-active {
  margin-left: 0vw;
}

.boton {
  background-color: #3F3F3F;
  color: white;
  transition: 1s;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.45);
  padding: 0.7rem;
  border-radius: 5px;
  font-weight: 600;
  border: 1px solid white;
  cursor: pointer;
}

.boton:hover {
  filter: brightness(80%);
  box-shadow: none;
}

.navlink {
  transition: 1s;
  max-width: 15vw;
}

.navlink:hover {
  text-decoration: underline;
  text-shadow: 3px 3px #2E2E2E;
}

.codigo {
  background-color: #1D1D1D;
  color: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: none;
}

.codigo2 {
  background-color: #1D1D1D;
  color: white;
}

/*burguermenu*/
#hamburguesa {
  position: relative;
  background-color: transparent;
  margin-right: 20px;
  left: 0;
  top: 0;
  height: 30px;
  width: 30px;
  padding: 10px 10px;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: -webkit-transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
  transition: transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
  z-index: 1002;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#hamburguesa.is-active {
  background-color: transparent;
}

._layer {
  background: #ffffff;
  margin-bottom: 4px;
  border-radius: 2px;
  width: 28px;
  height: 4px;
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
  transition: all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
}

#hamburguesa:hover .-top {
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
}

#hamburguesa:hover .-bottom {
  -webkit-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transform: translateY(100%);
}

#hamburguesa.is-active .-top {
  -webkit-transform: translateY(200%) rotate(45deg) !important;
  -ms-transform: translateY(200%) rotate(45deg) !important;
  transform: translateY(200%) rotate(45deg) !important;
}

#hamburguesa.is-active .-mid {
  opacity: 0;
}

#hamburguesa.is-active .-bottom {
  -webkit-transform: translateY(-200%) rotate(135deg) !important;
  -ms-transform: translateY(-200%) rotate(135deg) !important;
  transform: translateY(-200%) rotate(135deg) !important;
}

/*# sourceMappingURL=mycss.css.map */
